    <p>
      <mat-toolbar color="primary">
        <span>Bug Tracking System</span>
        <span class="example-spacer"></span>
        <button [routerLink]="['/dashboard']" mat-icon-button class="example-icon" >
          <mat-icon>home</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
          </button>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/addBug']">New Bug</button>
          <button mat-menu-item>My Bug</button>
          <button mat-menu-item [routerLink]="['/dashboard']">All Bug</button>
          <button mat-menu-item [routerLink]="['/account']">Account</button>
        </mat-menu>
      </mat-toolbar>
    </p>

  
